<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schkola IT-Manager - Nutzer erstellen</title>
    <link rel="stylesheet" type="text/css" href="/static/style/login.css" />
    <link rel="stylesheet" type="text/css" href="/static/style/font.css" />
</head>

<body>
    <div id="app">
        <div class="login fullscreen">
            <div class="fullscreen-center">
                <div class="fullscreen-body">
                    <div class="hero-unit">
                        <img class="logo-big" src="/static/images/logo.svg" alt="SCHKOLA IT-Manager" />
                        <form id="login" action="/settings/users/new" method="post" accept-charset="utf-8">
                            <div class="form-group">
                                <div class="formGroup-label">
                                    <label for="username">Benutzername</label>
                                </div>
                                <input id="username" name="username" type="text" class="form-control" value=""
                                    autocapitalize="none">
                            </div>

                            <div class="form-group">
                                <div class="formGroup-label">
                                    <label for="password">Passwort</label>
                                </div>
                                <input id="password" name="password" type="password" class="form-control"
                                    autocomplete="off">
                            </div>

                            <div class="form-controls">
                                <button class="btn btn--primary" type="submit">Nutzer erstellen</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>