{{> _layout_settings-top title="Settings - Users"}}
<div class="users-table">
    <a href="/settings/users/new">Neuen Nutzer anlegen</a>
    <table>
        <thead>
            <tr>
                <th>Benutzername</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {{#each auth_users}}
            <tr>
                <td>{{this.username}}</td>
                <td><!--<a href="/settings/users/{{this.username}}/edit">Ändern</a><a href="/settings/users/{{this.username}}/delete">Löschen</a>--></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_settings-bottom}}
