{{> main-top title="Task created successful"}}
<div class="text">
    <h1>Task Managment</h1>
    <p>Task created successful!</p>
    <p>Name: {{task_name}}</p>
    <p>Client: {{task_client}}</p>
    <p>Info: {{task_info}}</p>
</div>
{{> main-bottom}}