body {
    margin: 0;
    font-family: 'SanukWebPro', sans-serif;
    height: 100vh;
    background-color: #EEE;
}

a,
a:any-link {
    text-decoration: none;
    color: #1d3e8f;
}

a:hover {
    color: #00b1b5;
}

#top-header {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #222;
}

#top-logo {
    padding-left: 25px;
}

#top-logo img {
    height: 30px;
}

#main {
    display: flex;
    height: calc(100% - 51px);
}

#left-nav {
    width: 15em;
    border-right: 1px solid #222;
    overflow: auto;
}

#left-nav a,
#left-nav :visited {
    display: block;
    padding: 1.2em 2em 1.2em 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d3e8f;
    transition: color 0.15s, background-color 0.25s;
}

#left-nav a:hover {
    /*color: #f29400;
    background-color: #1d3e8f;*/
    color: #00b1b5;
    background-color: #CCC;
}

#main-content, #sub-content {
    width: 100%;
    overflow: auto;
}

#main-content.content-flex {
    display: flex;
}

#main-content .header-bar {
    height: 2em;
    display: flex;
    align-items: center;
}

#main-content .header-bar span {
    margin-left: 0.5em;
}

#main-content #page-content {
    display: flex;
    height: calc(100% - 2em - 1px);
    overflow: auto;
    border-top: 1px solid #222;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.25em;
}
