{{> _layout_hardware-top title="Hardware - Festplatten"}}
<div class="hardware-table">
    <h1>Festplatten</h1>
    <div class="filters">

    </div>
    <table>
        <thead>
        <tr>
            <th>Model</th>
            <th>Größe</th>
            <th>Anzahl Geräte</th>
        </tr>
        </thead>
        <tbody>
        {{#each disks}}
            <tr>
                <td>{{this.model}}</td>
                <td>{{this.size}}</td>
                <td>{{this.count}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_hardware-bottom}}
