{{> _layout_software-top title="Software"}}
<div class="license-table">
    <div class="filters">

    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Anzahl Computer</th>
        </tr>
        </thead>
        <tbody>
        {{#each license}}
            <tr>
                <td><a href="/software/license/{{this.name}}">{{this.name}}</a></td>
                <td>{{this.count}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_software-bottom}}