{{> main-top title main-content-class="content-flex"}}
<nav id="left-nav">
    <a href="/hardware/processors">Prozessoren</a>
    <a href="/hardware/memory">Arbeitsspeicher</a>
    <a href="/hardware/graphics_cards">Grafikkarten</a>
    <a href="/hardware/disks">Festplatten</a>
    <a href="/hardware/models">Computermodelle</a>
    <a href="/hardware/network_adapters">Netzwerkadapter</a>
</nav>
<div id="sub-content">