{{> main-top title main-content-class="content-flex"}}
<nav id="left-nav">
    <a href="/software/software">Software</a>
    <a href="/software/os">Betriebssystem</a>
    <a href="/software/license">Lizenzen</a>
</nav>
<div id="sub-content">