<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schkola IT-Manager - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/font.css"/>
</head>
<body>
<header id="top-header"><a href="/" id="top-logo"><img src="/static/images/logo.svg" alt="SCHKOLA IT-Manager"/></a></header>
<main id="main">
    <nav id="left-nav">
        <a href="/clients">Clients</a>
        <a href="/software">Software</a>
        <a href="/profile">Profile</a>
    </nav>
    <div id="main-content">
